@CHARSET "UTF-8";
* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: 0; }

.default_body {
  background-color: #b69b98;
  color: #3e2700;
  margin: auto;
  max-width: 1000px; }

.default_header {
  border-radius: 30px 30px 0px 0px;
  margin: 0px 0px 0px 0px;
  background-color: #6b3833; }
  .default_header h1 {
    color: #b69b98;
    padding-left: 20px;
    padding-bottom: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif; }

.default_infoblokk {
  border-radius: 30px 30px 0px 0px;
  background-color: #e0e0e0;
  padding: 4px;
  height: auto;
  margin: 5px 5px 0px 5px; }
  .default_infoblokk .default_infodatas {
    margin-top: 10px;
    display: table;
    width: 100%; }
    .default_infoblokk .default_infodatas .default_infodatasline {
      margin-top: 10px;
      display: table-row; }
      .default_infoblokk .default_infodatas .default_infodatasline .default_infobox_label {
        color: #3e2700;
        display: inline;
        width: 30%;
        text-align: right;
        padding-right: 5px;
        display: table-cell;
        font-family: 'lucida sans unicode', lucida, sans-serif; }
      .default_infoblokk .default_infodatas .default_infodatasline .default_infobox_text {
        color: rgba(0, 0, 0, 0.5);
        display: inline;
        width: auto;
        text-align: center;
        display: table-cell;
        vertical-align: top;
        font-family: 'lucida sans unicode', lucida, sans-serif; }

.default_class_list_block {
  border-radius: 0px 0px 30px 30px;
  background-color: #e0e0e0;
  padding: 4px;
  height: auto;
  margin: 0px 5px 5px 5px; }
  .default_class_list_block .default_classtable {
    display: table;
    width: 100%;
    font-size: 90%; }
  .default_class_list_block .default_table_caption {
    display: table-caption;
    padding-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    background-color: #b6ab98;
    border-bottom: 1px solid #5c4214;
    color: #3e2700;
    height: 25px;
    padding-top: 5px;
    font-family: 'lucida sans unicode', lucida, sans-serif; }
  .default_class_list_block .default_table_header {
    display: table-row; }
    .default_class_list_block .default_table_header .default_table_th {
      color: #3e2700;
      display: table-cell;
      width: 33%;
      border-bottom: 1px solid #5c4214;
      text-align: center;
      font-family: 'lucida sans unicode', lucida, sans-serif; }
  .default_class_list_block .default_table_item {
    display: table-row;
    font-family: 'lucida sans unicode', lucida, sans-serif; }
    .default_class_list_block .default_table_item .default_table_td1 {
      color: #3e2700;
      display: table-cell; }
    .default_class_list_block .default_table_item .default_table_td2 {
      color: rgba(0, 0, 0, 0.5);
      display: table-cell;
      text-align: center; }
    .default_class_list_block .default_table_item .default_table_td3 {
      color: #3e2700;
      display: table-cell;
      text-align: center; }
    .default_class_list_block .default_table_item .default_table_td4 {
      color: #E61600;
      display: table-cell;
      text-align: center; }

.default_footer {
  border-radius: 0px 0px 30px 30px;
  margin: 0px 0px 0px 0px;
  background-color: #b69b98;
  height: 27px;
  border-top: 1px solid #5c4214; }
  .default_footer h6 {
    margin-left: 15px;
    margin-top: 7px; }
  .default_footer a {
    background-color: #3e0600;
    color: #b69a98;
    border: 2px solid #5c1b14;
    padding: 4px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px 5px 5px 5px; }
  .default_footer a:hover {
    background-color: #b69a98;
    color: #3e0600; }

@media screen and (min-width: 380px) and (max-width: 670px) {
  .default_header h1 {
    font-size: 130%; }

  .default_infobox_label {
    font-size: 90%; }

  .default_infobox_text {
    font-size: 90%; }

  .default_table_caption {
    font-size: 80%; }

  .default_table_item {
    font-size: 80%; }

  .default_footer {
    font-size: 90%; }

  .hideable {
    display: none; } }
@media screen and (min-width: 1px) and (max-width: 380px) {
  .default_header h1 {
    font-size: 80%; }

  .default_infoblokk {
    border-radius: 30px 30px 0px 0px; }

  .default_infobox_label {
    font-size: 70%; }

  .default_infobox_text {
    font-size: 70%; }

  .default_table_caption {
    font-size: 70%; }

  .default_table_item {
    font-size: 70%; }

  .default_footer {
    font-size: 70%; }

  .hideable {
    display: none; } }
.dark_body {
  background-color: #ffeee9;
  color: rgba(255, 255, 255, 0.5);
  margin: auto;
  max-width: 1000px; }

.dark_header {
  border-radius: 30px 30px 0px 0px;
  margin: 0px 0px 0px 0px;
  background-color: #d09486; }
  .dark_header h1 {
    color: #ffeee9;
    padding-left: 20px;
    padding-bottom: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif; }

.dark_infoblokk {
  border-radius: 30px 30px 0px 0px;
  background-color: #282828;
  padding: 4px;
  height: auto;
  margin: 5px 5px 0px 5px; }
  .dark_infoblokk .dark_infodatas {
    margin-top: 10px;
    display: table;
    width: 100%; }
    .dark_infoblokk .dark_infodatas .dark_infodatasline {
      margin-top: 10px;
      display: table-row; }
      .dark_infoblokk .dark_infodatas .dark_infodatasline .dark_infobox_label {
        color: #ffe9e9;
        display: inline;
        width: 30%;
        text-align: right;
        padding-right: 5px;
        display: table-cell;
        font-family: 'lucida sans unicode', lucida, sans-serif; }
      .dark_infoblokk .dark_infodatas .dark_infodatasline .dark_infobox_text {
        color: rgba(255, 255, 255, 0.5);
        display: inline;
        width: auto;
        text-align: center;
        display: table-cell;
        vertical-align: top;
        font-family: 'lucida sans unicode', lucida, sans-serif; }

.dark_class_list_block {
  border-radius: 0px 0px 30px 30px;
  background-color: #282828;
  padding: 4px;
  height: auto;
  margin: 0px 5px 5px 5px; }
  .dark_class_list_block .dark_classtable {
    display: table;
    width: 100%;
    font-size: 90%; }
  .dark_class_list_block .dark_table_caption {
    display: table-caption;
    padding-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    background-color: #722e2e;
    border-bottom: 1px solid #ffe9e9;
    color: #ffe9e9;
    height: 25px;
    padding-top: 5px;
    font-family: 'lucida sans unicode', lucida, sans-serif; }
  .dark_class_list_block .dark_table_header {
    display: table-row; }
    .dark_class_list_block .dark_table_header .dark_table_th {
      color: #fff0e9;
      display: table-cell;
      width: 33%;
      border-bottom: 1px solid #ffe9e9;
      text-align: center;
      font-family: 'lucida sans unicode', lucida, sans-serif; }
  .dark_class_list_block .dark_table_item {
    display: table-row;
    font-family: 'lucida sans unicode', lucida, sans-serif; }
    .dark_class_list_block .dark_table_item .dark_table_td1 {
      color: #ffeae9;
      display: table-cell; }
    .dark_class_list_block .dark_table_item .dark_table_td2 {
      color: rgba(255, 255, 255, 0.5);
      display: table-cell;
      text-align: center; }
    .dark_class_list_block .dark_table_item .dark_table_td3 {
      color: #D9EEE2;
      display: table-cell;
      text-align: center; }
    .dark_class_list_block .dark_table_item .dark_table_td4 {
      color: #FFEAE9;
      display: table-cell;
      text-align: center; }

.dark_footer {
  border-radius: 0px 0px 30px 30px;
  margin: 0px 0px 0px 0px;
  background-color: #d09486;
  height: 27px;
  border-top: 1px solid #ffe9e9; }
  .dark_footer h6 {
    margin-left: 15px;
    margin-top: 7px; }
  .dark_footer a {
    background-color: #d9eee2;
    color: #3d7553;
    border: 2px solid #d9eee2;
    padding: 4px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px 5px 5px 5px; }
  .dark_footer a:hover {
    background-color: #3d7553;
    color: #d9eee2; }

@media screen and (min-width: 380px) and (max-width: 670px) {
  .dark_header h1 {
    font-size: 130%; }

  .dark_infobox_label {
    font-size: 90%; }

  .dark_infobox_text {
    font-size: 90%; }

  .dark_table_caption {
    font-size: 80%; }

  .dark_table_item {
    font-size: 80%; }

  .dark_footer {
    font-size: 90%; }

  .hideable {
    display: none; } }
@media screen and (min-width: 1px) and (max-width: 380px) {
  .dark_header h1 {
    font-size: 80%; }

  .dark_infoblokk {
    border-radius: 30px 30px 0px 0px; }

  .dark_infobox_label {
    font-size: 70%; }

  .dark_infobox_text {
    font-size: 70%; }

  .dark_table_caption {
    font-size: 70%; }

  .dark_table_item {
    font-size: 70%; }

  .dark_footer {
    font-size: 70%; }

  .hideable {
    display: none; } }
.positive_body {
  background-color: #3e2700;
  color: rgba(0, 0, 0, 0.5);
  margin: auto;
  max-width: 1000px; }

.positive_header {
  border-radius: 30px 30px 0px 0px;
  margin: 0px 0px 0px 0px;
  background-color: #6B3833; }
  .positive_header h1 {
    color: #3e2700;
    padding-left: 20px;
    padding-bottom: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif; }

.positive_infoblokk {
  border-radius: 30px 30px 0px 0px;
  background-color: #8f6460;
  padding: 4px;
  height: auto;
  margin: 5px 5px 0px 5px; }
  .positive_infoblokk .positive_infodatas {
    margin-top: 10px;
    display: table;
    width: 100%; }
    .positive_infoblokk .positive_infodatas .positive_infodatasline {
      margin-top: 10px;
      display: table-row; }
      .positive_infoblokk .positive_infodatas .positive_infodatasline .positive_infobox_label {
        color: #3e2700;
        display: inline;
        width: 30%;
        text-align: right;
        padding-right: 5px;
        display: table-cell;
        font-family: 'lucida sans unicode', lucida, sans-serif; }
      .positive_infoblokk .positive_infodatas .positive_infodatasline .positive_infobox_text {
        color: rgba(0, 0, 0, 0.5);
        display: inline;
        width: auto;
        text-align: center;
        display: table-cell;
        vertical-align: top;
        font-family: 'lucida sans unicode', lucida, sans-serif; }

.positive_class_list_block {
  border-radius: 0px 0px 30px 30px;
  background-color: #8f6460;
  padding: 4px;
  height: auto;
  margin: 0px 5px 5px 5px; }
  .positive_class_list_block .positive_classtable {
    display: table;
    width: 100%;
    font-size: 90%; }
  .positive_class_list_block .positive_table_caption {
    display: table-caption;
    padding-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    background-color: #b6ab98;
    border-bottom: 1px solid #5c4214;
    color: #3e2700;
    height: 25px;
    padding-top: 5px;
    font-family: 'lucida sans unicode', lucida, sans-serif; }
  .positive_class_list_block .positive_table_header {
    display: table-row; }
    .positive_class_list_block .positive_table_header .positive_table_th {
      color: #3e2700;
      display: table-cell;
      width: 33%;
      border-bottom: 1px solid #5c4214;
      text-align: center;
      font-family: 'lucida sans unicode', lucida, sans-serif; }
  .positive_class_list_block .positive_table_item {
    display: table-row;
    font-family: 'lucida sans unicode', lucida, sans-serif; }
    .positive_class_list_block .positive_table_item .positive_table_td1 {
      color: #3e2700;
      display: table-cell; }
    .positive_class_list_block .positive_table_item .positive_table_td2 {
      color: rgba(0, 0, 0, 0.5);
      display: table-cell;
      text-align: center; }
    .positive_class_list_block .positive_table_item .positive_table_td3 {
      color: #3e2700;
      display: table-cell;
      text-align: center; }
    .positive_class_list_block .positive_table_item .positive_table_td4 {
      color: #FFEAE9;
      display: table-cell;
      text-align: center; }

.positive_footer {
  border-radius: 0px 0px 30px 30px;
  margin: 0px 0px 0px 0px;
  background-color: #6B3833;
  height: 27px;
  border-top: 1px solid #5c4214; }
  .positive_footer h6 {
    margin-left: 15px;
    margin-top: 7px; }
  .positive_footer a {
    background-color: #3e0600;
    color: #b69a98;
    border: 2px solid #5c1b14;
    padding: 4px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px 5px 5px 5px; }
  .positive_footer a:hover {
    background-color: #b69a98;
    color: #5c1b14; }

@media screen and (min-width: 380px) and (max-width: 670px) {
  .positive_header h1 {
    font-size: 130%; }

  .positive_infobox_label {
    font-size: 90%; }

  .positive_infobox_text {
    font-size: 90%; }

  .positive_table_caption {
    font-size: 80%; }

  .positive_table_item {
    font-size: 80%; }

  .positive_footer {
    font-size: 90%; }

  .hideable {
    display: none; } }
@media screen and (min-width: 1px) and (max-width: 380px) {
  .positive_header h1 {
    font-size: 80%; }

  .positive_infoblokk {
    border-radius: 30px 30px 0px 0px; }

  .positive_infobox_label {
    font-size: 70%; }

  .positive_infobox_text {
    font-size: 70%; }

  .positive_table_caption {
    font-size: 70%; }

  .positive_table_item {
    font-size: 70%; }

  .positive_footer {
    font-size: 70%; }

  .hideable {
    display: none; } }
.negative_body {
  background-color: #B69A98;
  color: rgba(255, 255, 255, 0.5);
  margin: auto;
  max-width: 1000px; }

.negative_header {
  border-radius: 30px 30px 0px 0px;
  margin: 0px 0px 0px 0px;
  background-color: #6B3833; }
  .negative_header h1 {
    color: #b69a98;
    padding-left: 20px;
    padding-bottom: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif; }

.negative_infoblokk {
  border-radius: 30px 30px 0px 0px;
  background-color: #5c1b14;
  padding: 4px;
  height: auto;
  margin: 5px 5px 0px 5px; }
  .negative_infoblokk .negative_infodatas {
    margin-top: 10px;
    display: table;
    width: 100%; }
    .negative_infoblokk .negative_infodatas .negative_infodatasline {
      margin-top: 10px;
      display: table-row; }
      .negative_infoblokk .negative_infodatas .negative_infodatasline .negative_infobox_label {
        color: #b6ab98;
        display: inline;
        width: 30%;
        text-align: right;
        padding-right: 5px;
        display: table-cell;
        font-family: 'lucida sans unicode', lucida, sans-serif; }
      .negative_infoblokk .negative_infodatas .negative_infodatasline .negative_infobox_text {
        color: rgba(255, 255, 255, 0.5);
        display: inline;
        width: auto;
        text-align: center;
        display: table-cell;
        vertical-align: top;
        font-family: 'lucida sans unicode', lucida, sans-serif; }

.negative_class_list_block {
  border-radius: 0px 0px 30px 30px;
  background-color: #5c1b14;
  padding: 4px;
  height: auto;
  margin: 0px 5px 5px 5px; }
  .negative_class_list_block .negative_classtable {
    display: table;
    width: 100%;
    font-size: 90%; }
  .negative_class_list_block .negative_table_caption {
    display: table-caption;
    padding-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    background-color: #3e2700;
    border-bottom: 1px solid #8f7e60;
    color: #b6ab98;
    height: 25px;
    padding-top: 5px;
    font-family: 'lucida sans unicode', lucida, sans-serif; }
  .negative_class_list_block .negative_table_header {
    display: table-row; }
    .negative_class_list_block .negative_table_header .negative_table_th {
      color: #b6ab98;
      display: table-cell;
      width: 33%;
      border-bottom: 1px solid #8f7e60;
      text-align: center;
      font-family: 'lucida sans unicode', lucida, sans-serif; }
  .negative_class_list_block .negative_table_item {
    display: table-row;
    font-family: 'lucida sans unicode', lucida, sans-serif; }
    .negative_class_list_block .negative_table_item .negative_table_td1 {
      color: #b6ab98;
      display: table-cell; }
    .negative_class_list_block .negative_table_item .negative_table_td2 {
      color: rgba(255, 255, 255, 0.5);
      display: table-cell;
      text-align: center; }
    .negative_class_list_block .negative_table_item .negative_table_td3 {
      color: #b6ab98;
      display: table-cell;
      text-align: center; }
    .negative_class_list_block .negative_table_item .negative_table_td4 {
      color: #FFEAE9;
      display: table-cell;
      text-align: center; }

.negative_footer {
  border-radius: 0px 0px 30px 30px;
  margin: 0px 0px 0px 0px;
  background-color: #6B3833;
  height: 27px;
  border-top: 1px solid #8f7e60; }
  .negative_footer h6 {
    margin-left: 15px;
    margin-top: 7px; }
  .negative_footer a {
    background-color: #b69a98;
    color: #5c1b14;
    border: 2px solid #b69a98;
    padding: 4px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px 5px 5px 5px; }
  .negative_footer a:hover {
    background-color: #5c1b14;
    color: #b69a98; }

@media screen and (min-width: 380px) and (max-width: 670px) {
  .negative_header h1 {
    font-size: 130%; }

  .negative_infobox_label {
    font-size: 90%; }

  .negative_infobox_text {
    font-size: 90%; }

  .negative_table_caption {
    font-size: 80%; }

  .negative_table_item {
    font-size: 80%; }

  .negative_footer {
    font-size: 90%; }

  .hideable {
    display: none; } }
@media screen and (min-width: 1px) and (max-width: 380px) {
  .negative_header h1 {
    font-size: 80%; }

  .negative_infoblokk {
    border-radius: 30px 30px 0px 0px; }

  .negative_infobox_label {
    font-size: 70%; }

  .negative_infobox_text {
    font-size: 70%; }

  .negative_table_caption {
    font-size: 70%; }

  .negative_table_item {
    font-size: 70%; }

  .negative_footer {
    font-size: 70%; }

  .hideable {
    display: none; } }

/*# sourceMappingURL=default.css.map */
