/org.eclipse.core.resources.prefs
/org.eclipse.php.core.prefs
/org.eclipse.php.debug.core.Debug_Process_Preferences.prefs
/org.eclipse.php.server.core.phpServersPrefs.prefs
/org.eclipse.wst.common.project.facet.core.xml
